/* ==========================================================
   NAVBAR
========================================================== */

@media(max-width:992px){

.nav-menu{

    position:fixed;

    top:80px;

    left:-100%;

    width:100%;

    background:var(--bg-secondary);

    flex-direction:column;

    padding:2rem;

    transition:.4s;
}

.nav-menu.active{

    left:0;
}

.menu-btn{

    display:block;
}

.btn-primary{

    display:none;
}

}

/* ==========================================================
   HERO
========================================================== */

@media(max-width:992px){

.hero-content{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.hero-social{

justify-content:center;

}

.profile-card img{

width:280px;

}

}