/* ==========================================================
   GLOBAL RESET
========================================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================
   HTML
========================================================== */

html {
    scroll-behavior: smooth;
}

/* ==========================================================
   BODY
========================================================== */

body {
    font-family: var(--font-primary);
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
    overflow-x: hidden;
}

/* ==========================================================
   HEADINGS
========================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--text);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

p {
    color: var(--text-light);
}

/* ==========================================================
   LINKS
========================================================== */

a {
    text-decoration: none;
    color: inherit;
}

/* ==========================================================
   LIST
========================================================== */

ul {
    list-style: none;
}

/* ==========================================================
   IMAGE
========================================================== */

img {
    display: block;
    max-width: 100%;
}

/* ==========================================================
   BUTTON
========================================================== */

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

/* ==========================================================
   SECTION
========================================================== */

section {
    padding: 100px 0;
}

/* ==========================================================
   SELECTION
========================================================== */

::selection {
    background: var(--primary);
    color: white;
}

/* ==========================================================
   SCROLLBAR
========================================================== */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

/* ==========================================================
   PRELOADER
========================================================== */

#preloader {
    display: none;
}

/* ==========================================================
   BACK TO TOP
========================================================== */

#backToTop {
    display: none;
}